extends layout

block content
  include ./navbar.jade
  .container
    .row
      .col-md-12
        #banner.page-header
          h1 Examenvragen Grote Stromingen
    .row
      each lesson in lessons
        - console.log(lesson);
        .panel.panel-default
          .panel-heading 
            h4 Les #{lesson.id} : #{lesson.title}
          .panel-body
            ol
              for question in lesson.questions
                li
                  a(href="lessons/#{lesson._id}/#{question._id}") #{question.text}
  
  //- script.
  //-   var data = !{JSON.stringify(lessons)}
